<div class="container">
<form method="POST" id="quiz-ooo" action="/showresult">
  <div class="row m-3">
    <div class="col-sm-3">
      <div class="card text-center bg-secondary py-3">
          <h4 id="showTime2"></h4>
      </div>
    </div>
    <div class="col-sm-6 text-center">
<h1>Quiz on Important Facts</h1>
    </div>
  
  <div class="col-sm-3">
      <div class="card text-center bg-secondary py-3">
          <h4 id="showTime"></h4>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card-group">
   
  <div class="col-sm-12">
      <div class="card  m-2 mx-auto w-75 shadow">
        <h5 id="questions" class="card-header">Questions <span id="qNumbers"></span></h5>
          {{#each rows}}
          <div class="mycard">
  <div class="card-body">
    <h5 class=" card-title question"> {{this.question}}</h5>    
  </div>
  <ul class="list-group list-group-flush answers">
    <li class="list-group-item">
       <label>
        <input type="radio"  onchange="nextPrevCol(1)" name="selectedAnswer{{this.questionId}}" value="{{this.questionId}}a">
             a: {{this.answersA}}
      </label>
    </li>
    <li class="list-group-item"> <label>
        <input type="radio"  onchange="nextPrevCol(1)" name="selectedAnswer{{this.questionId}}" value="{{this.questionId}}b">
            b:  {{this.answersB}}
      </label>
      </li>
    <li class="list-group-item"> <label>
        <input type="radio"  onchange="nextPrevCol(1)" name="selectedAnswer{{this.questionId}}" value="{{this.questionId}}c">
             c: {{this.answersC}}
      </label>
      </li>
    <li class="list-group-item"> <label>
        <input type="radio" onchange="nextPrevCol(1)"  name="selectedAnswer{{this.questionId}}" value="{{this.questionId}}d">
             d: {{this.answersD}}
      </label>
      </li>
  </ul>
  </div>
   {{/each}}
  {{!-- class text-end align the buttons to the ends --}}
  <div class="card-footer text-end">
    
    <btn id="prevBtn" class="btn btn-secondary" onclick="nextPrev(-1)">Prev</btn>
    <btn id="nextBtn" class="btn btn-primary " onclick="nextPrev(1)" >Next</btn>
  </div>
</div>
</div>
   
</div>
  </div>
  <div class="text-center">
    <button class="btn btn-primary btn-lg w-75 px-auto" type="submit" id="submitnow">Submit Quiz</button>
    </div>
</form>

<div id="indicators" style="text-align:center;margin-top:40px;">
  
</div>



<div id="results">
	
</div>
</div>

<script>
   var xx = document.getElementsByClassName("mycard");
    // fixing indicators number
    for (let i = 1; i <= xx.length; i++) {
        document.getElementById("indicators").innerHTML += `<span onclick="specificNum(${i})" class="step">${i}</span>`;
    }
</script>